 @font-face { font-family: "Flipps"; src: url('Fipps-Regular.otf'); } 

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Flipps, Helvetica, Arial, serif; 
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  color: #ffa500;

}


body {
  font-size: 15px;
  line-height: 1.5; 
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: "Flipps", Helvetica, Arial, serif;
  font-weight: 400;
  color: #000;

}

a{
  text-decoration:none;
}

#top{
  background-color: orange;
  padding: 5px;
  border-radius: 25px;
  width: 300px;
  vertical-align:middle;
}

.back{

  padding: 4px; 
}

.github{
  color: #ffa500;
  border: 1px solid #ffa500;
  border-radius: 25px;
  padding: 1px; 
}


.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;

}


#content-wrapper {
  border-top: solid 1px #fff;
  padding-top: 30px;
  position: relative;
}

#main-content {
  width: 690px;
  float: left;
}





